<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Salud WEB</title>
</head>
<body>
    <!--INICIO ENCABEZADO-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Salud</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Calculadora IMC</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/verTablas">Registros</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    <!--FIN ENCABEZADO-->
    <!--INICIO TABLAS-->
    <br/>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <h3>Tabla de registros</h3>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Sexo</th>
                <th scope="col">Fecha nacimiento</th>
                <th scope="col">Peso (kg)</th>
                <th scope="col">Altura (cm)</th>
                <th scope="col">Indice masa corporal (IMC)</th>
                <th scope="col">Nivel de peso</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% if(data){ %>
                <% for(var i=0;i < data.length; i++){ %>
                  <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].sexo %></td>
                    <td><%= data[i].edad %></td>
                    <td><%= data[i].peso %></td>
                    <td><%= data[i].altura %></td>
                    <td><%= data[i].imc %></td>
                    <td><%= data[i].pesoNivel %></td>
                    <td>
                        <a href="/actualizar/<%= data[i].id %>" type="button" class="btn btn-success">Editar</a>
                        <a href="/eliminar/<%= data[i].id %>" type="button" class="btn btn-danger">Eliminar</a>
                    </td>
                  </tr>
              <% } %>
              <% } %>
            </tbody>
        </table>
    </div>
    

    <!--FIN TABLAS-->
</body>
</html>